/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/* CSS Reset end*/





:root{
    /* font properties */
    --font-family: "Courier New", "Century Gothic", sans-serif;
    --font-nav-a: bold 1rem var(--font-family);
    font-family: var(--font-family);

    --separation-xs: 1rem;
    --separation-s: 2.25rem;
    --separation-m: 5rem;

    --a-color: rgb(125, 53, 125);
    --color-orange: rgb(255, 171, 119);

    --border-s: 1px solid grey;
    --border-radius-s: 7px;
    --border-radius-m: 15px;
    --a-border-bottom: 2px solid var(--a-color);
    --aside-border-right: 1px solid grey;

    --transition-s: 0.5s;
    --transition-m: 1s;
    --transition-l: 2s;

    --pfp-length: 70px;
    --book-width: 275px;
    --book-height: 400px;
    --book-border: 10px solid rgb(208, 208, 208);
    --bookmark-unread-bg-color: rgb(31, 108, 40);
    --bookmark-read-bg-color: rgb(11, 31, 89);
    --add-button-size: 150px;
    --input-height: 2.5rem;
    --input-width: 12rem;

    --box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.13);
}

html{
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template: repeat(2, min-content) auto min-content / 1fr minmax(min-content, 3fr);
}

a {
    color: var(--a-color);
    font: var(--font-nav-a);
    text-decoration: none;

    position: relative;
    z-index: 0;
}

a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-bottom: var(--a-border-bottom);
    z-index: -1;

    transform-origin: left;
    transform: scaleX(0);
    transition: transform var(--transition-s);
}

a:hover::after {
    transform: scaleX(1);
}


nav {
    grid-area: 1 / 1 / 2 / -1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--pfp-length);

    box-shadow: var(--box-shadow);
    gap: var(--separation-m);
}
nav ul{
    display: flex;
    align-items: center;
    gap: var(--separation-s, 1rem);

    list-style-type: none;
}

nav li{
  flex: none;
}

.profile-container {
  position: relative;
  height: 100%;
  width: calc(var(--pfp-length) + (2 * var(--separation-s)) + 200px);
  flex: none;
}

.profile {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    height: 100%;
    

    display: flex;
    align-items: center;
    gap: var(--separation-s, 1rem);
    overflow: hidden;

    border-bottom-left-radius: calc(var(--pfp-length) / 2);
    background-color: var(--color-orange);
    box-shadow: var(--box-shadow);

    transition: height var(--transition-m);
}

.profile:hover {
    height: 150px;
}

.profile img{
    flex: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    height: var(--pfp-length, 50px);
    width: var(--pfp-length, 50px);
    object-fit: cover;
    object-position: bottom left;
    border-top-right-radius: calc(var(--pfp-length, 50px) / 2);

    transition: height var(--transition-m), width var(--transition-m), border-radius var(--transition-l);
}

.profile:hover img{
  border-top-right-radius: 0;
  height: 150px;
  width: 100%;
}

.profile p{
  /* Ensure the name doesn't make the profile div too wide*/
  box-sizing: content-box;
  max-width: 200px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;

  text-align: center;
  padding: 0 var(--separation-s) 0 calc(var(--pfp-length) + var(--separation-s));
  z-index: 2;

  transition: transform var(--transition-m), background-color var(--transition-m);
}

.profile:hover p{
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateY(65px);
}

header {
  grid-area: 2 / 2 / 3 / -1;
  justify-self: left;
  align-self: center;
  padding: var(--separation-s);
  text-decoration: underline;
}


aside{
  grid-area: 2 / 1 / 4 / 2;
  align-self: stretch;
  background-image: url('./img/piqsels.com-id-zvhgt.jpg');
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
aside fieldset{
  background-color: rgb(255, 255, 255);
  padding: var(--separation-s);
  margin-left: var(--separation-s);
  border: none;
  flex: none;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  border-radius: var(--border-radius-s) 0 0 var(--border-radius-s);
}
aside label{
  padding: 0 var(--separation-s);
  text-wrap: nowrap;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--book-width));
  place-content: start;
  gap: var(--separation-s);
  padding: var(--separation-s);
  padding-top: 0;
}
.book-card {
  height: var(--book-height);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-s) var(--border-radius-m) var(--border-radius-m) var(--border-radius-s);
  overflow: hidden;
  border-bottom: var(--book-border);
  border-right: var(--book-border);
}

.cover {
  flex: 3;
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
}
.bookmark {
  position: absolute;
  top: 0;
  right: var(--separation-s);
  width: calc(var(--separation-s));
  height: calc(var(--book-height) * (0.45));
  z-index: 0;
  background-color: var(--bookmark-unread-bg-color);

  color: white;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  
   transition: height var(--transition-s);
}
.bookmark::before {
  content: "";
  position: absolute;
  bottom: calc((var(--separation-s) / -2));
  height: 0;
  width: var(--separation-s);
  z-index: -1;

  border-left: calc(var(--separation-s) / 2) solid var(--bookmark-unread-bg-color);
  border-right: calc(var(--separation-s) / 2) solid var(--bookmark-unread-bg-color);
  border-bottom: calc(var(--separation-s) / 2) solid transparent;
  border-top: calc(var(--separation-s) / 2) solid var(--bookmark-unread-bg-color);
}
.bookmark.read {
  height: calc(var(--book-height) * (0.3));
  background-color: var(--bookmark-read-bg-color);
}
.bookmark.read::before {
  border-color: var(--bookmark-read-bg-color);
  border-bottom-color: transparent;
}

button.add-book{
  border-radius: 50%;
  height: var(--add-button-size);
  width: var(--add-button-size);
  border: none;
  font-size: calc(var(--add-button-size) / 1.5);
  
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);

  transition: background-color var(--transition-s);
}
button.add-book:hover{
  background-color: rgb(220, 220, 220);
}
button.add-book:active{
  background-color: grey;
  box-shadow: inset var(--box-shadow);
  transition: 0s;
}
.fields{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--separation-xs);
  padding: var(--separation-xs);
}
.adder .fields div{
  width: calc(var(--book-width) * 0.75);
  height: calc(var(--separation-s) * 0.7);
  background-color: rgb(223, 223, 223);
  border-radius: var(--border-radius-s);
}
.adder .fields div:first-child {
  width: calc(var(--book-width) * 0.65);
  height: calc(var(--separation-s) * 0.75);
}
.adder .fields div:last-child {
  width: calc(var(--book-width) * 0.35);
  height: calc(var(--separation-s) * 0.35);
}

.fields .title {
  background-color: black;
  color: white;
  padding: 0 var(--separation-xs);
  font: var(--font-family);
}

.fields .author {
  
}

.fields .category {
  color: grey;
}

.fields .last-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.fields .last-row *{
  flex: 1;
}
.fields .last-row .delete-btn {
  flex: none;
  border: none;
  background: none;
  background-image: url("./img/bin.png");
  background-size: contain;
  height: var(--separation-xs);
  width: var(--separation-xs);
}

dialog {
  border-radius: var(--border-radius-m);
  border: none;
}
dialog > form{
  display: flex;
  flex-direction: column;
  gap: var(--separation-xs);
}
form input, form button, form select{
  border-radius: var(--border-radius-s);
  border: var(--border-s);
  padding: calc(var(--separation-xs) / 2) var(--separation-xs);
  height: var(--input-height); 
  width: var(--input-width);
}
form input[type="checkbox"], form button:not([type="submit"]){
  width: var(--separation-xs);
}
dialog button[command="close"] {
  border: none;
  background-color: transparent;
}
dialog div:first-child{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". title close-button";
}
dialog div:first-child h3{
  grid-area: title;
}
dialog div:first-child button{
  grid-area: close-button;
  justify-self: end;
  text-align: center;
}
dialog div {
  display: flex;
  align-items: center;
  gap: var(--separation-xs);
}
dialog div label {
  flex:2;
}
dialog div input, dialog div select {
  flex: 3;
}
dialog div:has(input[type='checkbox']) {
  align-self: flex-start;
  justify-content: flex-start;
}
dialog div input[type="checkbox"]+label{
  flex: none;
}
dialog div input[type="checkbox"] {
  flex: 2;
}